/* You can add global styles to this file, and also import other style files */

/* reset.css */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style: none;
}

/* Set core root font size */
html {
    font-size: 62.5%;
    /* Adjust base font size to 10px */
}

/* Reset base font styles */
body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    /* Equivalent to 16px */
    line-height: 1.6;
}

/* Add your additional custom styles as needed */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-paginator {

    .mat-mdc-paginator-page-size-label,
    .mat-mdc-select-min-line,
    .mat-mdc-paginator-range-label,
    .mat-mdc-option {
        font-size: 1.4rem;
    }
}